@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 16px;
    font-weight: 400;
    scroll-padding-top: 100px;
    overscroll-behavior: none;
}

.flip-book {
    perspective: 1000px; 
}



